@tailwind base;
@tailwind components;

.search-box {
  transition: box-shadow 0.2s linear;
}

.nav_link {
  @apply ml-5 border-b-2 border-gray-100 h-full flex items-center;
  a {
    @apply py-10 px-5;
  }
  &:hover {
    @apply border-red-500;
  }
}

.btn {
  @apply text-center rounded-md py-5 font-light text-lg w-full;
}

.btn-link {
  @apply text-center py-3 rounded-lg font-light text-lg w-full text-white bg-red-500;
}

input,
select {
  @apply rounded-md py-5 font-light text-lg w-full text-left border border-gray-400 px-5;
  &:focus {
    @apply outline-none border-red-500 shadow-lg;
  }
}

select {
  height: 50px;
}

form {
  .input {
    @apply mb-3 w-full;
    &.has_error {
      input {
        @apply bg-red-200 border-gray-600;
        &:focus {
          @apply border-red-600;
        }
      }
    }
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.message {
  animation: messageFadeIn 5s ease-in-out forwards;
  &.error {
    @apply text-red-700;
  }
  &.info {
    @apply text-blue-700;
  }
  &.success {
    @apply text-green-700;
  }
  &.warning {
    @apply text-orange-500;
  }
}

@tailwind utilities;
