{% extends "base.html" %}
{% block page_name %}
    {{cat.name}}
{% endblock page_name %}

{% block content %}
<div class="-mt-5 container max-w-full h-40vh sm:h-75vh flex mb-20">
    <div class="h-full w-1/2 bg-center bg-cover" style="background-image: url({{cat.first_photo}})"></div>
        <div class="h-full w-1/2 flex flex-wrap">
            {% for photo in cat.get_rest_photos %}
                <div style="background-image:url({{photo.file.url}})" class="w-1/2 h-auto bg-cover bg-center"></div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container mx-auto flex justify-around pb-56">
    <div class="w-3/4 md:w-3/5">
        <div class="flex justify-between section-border">
            <div class="hidden md:block">
                <h4 class="text-3xl font-semibold">{{cat.name}}</h4>
                <span class="text-lg text-gray-700 font-light block mt-1 mb-8">{{cat.city}}</span>
                <span class="text-md font-normal info-separator">{% if cat.gender == 'female' %} Female cat {% else %} Tomcat {% endif %}</span>
                <span class="text-md font-normal pl-2 info-separator"">{% if cat.is_neutered == True %} Neutered {% else %} Unneutered {% endif %}</span>
                <span class="text-md font-normal pl-2 info-separator">
                    {% if cat.birthdate == None %}
                    {{cat.estimated_age}} (estimated)
                    {% else %}
                    {{cat.count_age}}
                    {% endif %}
                </span>
                <span class="text-md font-normal pl-2 info-separator">{{cat.appearance}}</span>
                <span class="text-md font-normal pl-2">
                    {% if cat.foster_needed == True %}
                        Foster needed
                    {% else %}
                        Adoption needed
                    {% endif %}
                </span>
            </div>
            <div class="md:hidden">
                <h4 class="text-3xl font-semibold">{{cat.name}}</h4>
                <span class="text-lg text-gray-700 font-light block mt-1 mb-8">{{cat.city}}</span>
                <ul>
                    <li><span class="text-md font-normal">{% if cat.gender == 'female' %} Female cat {% else %} Tomcat {% endif %}</span></li>
                    <li><span class="text-md font-normal">{% if cat.is_neutered == True %} Neutered {% else %} Unneutered {% endif %}</span></li>
                    <li><span class="text-md font-normal"">
                        {% if cat.birthdate == None %}
                        {{cat.estimated_age}} (estimated)
                        {% else %}
                        {{cat.count_age}}
                        {% endif %}
                        </span>
                    </li>
                    <li><span class="text-md font-normal"">{{cat.appearance}}</span></li>
                    <li>
                        <span class="text-md font-normal">
                        {% if cat.foster_needed == True %}
                            Foster needed
                        {% else %}
                            Adoption needed
                        {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="taker">
                <a href="{{cat.care_taker.get_absolute_url}}" class="flex flex-col items-center">
                    <span class="mt-1 text-gray-500 text-xs mb-0">Cared by</span>
                        {% include "mixins/user_avatar.html" with user=cat.care_taker %}
                    <span class="mt-1 text-gray-500 text-sm">{{cat.care_taker.first_name}}</span>
                </a>
            </div>
        </div>

        <div class="rescue pt-3 section-border">
            <h5 class="info-title pb-4">Rescue Story</h5>
            <p>{{cat.rescue_story}}</p>
        </div> 

        <div class="vet pt-3 pb-10 section-border">
            <h5 class="info-title pb-4">Veterinary Records</h5>
            <ul>
                {% for v in cat.vets.all %}
                <li class="flex flex-col mb-4">
                <span class="text-sm text-gray-600">{{v.visit_date | date:"Y. m. d."}} {{v.city}}, {{v.vet_title}}</span>
                <span class="text-md font-medium text-gray-600 leading-5">{{v.visit_purpose}}</span>
                </li>
                {% endfor %}
            </ul>
        </div> 

        <div class="family pt-3 pb-10 section-border">
            <h5 class="info-title pb-4">Family Info</h5>
            <div class="flex justify-start flex-wrap">    
                {% include "mixins/cat_avatar.html" %}  
            </div>
        </div>

        <div class="max-h-full md:hidden mt-10">
            <div class="mb-5">
                {% if cat.care_taker == user %}
                    <a href="{% url 'cats:edit' cat.pk %}" class="btn-link block">Edit Cat Info</a>
                {% else %}
                    <a href="{% url 'cats:edit' cat.pk %}" class="btn-link block">Apply adoption</a>
                {% endif %}
            </div>
        
        </div>
         
    </div>
    <div class="w-1/4 hidden md:block mt-10">    
        {% if cat.care_taker == user %}
            <a href="{% url 'cats:edit' cat.pk %}" class="btn-link block">Edit Cat Info</a>
        {% else %}
            <a href="{% url 'cats:edit' cat.pk %}" class="btn-link block">Apply adoption</a>
        {% endif %}
    </div>
    
</div>
{% endblock %}