{% extends "base.html" %}
{% block page_name %}
    {{room.name}}
{% endblock page_name %}

{% block content %}
<div>
    <h1>{{cat.name}}</h1>
    <h3>Basic Information</h3>
    <ul>
        {% if cat.birthdate == None %}
        <li>Birthdate : X</li>
        <li>Estimated age : {{cat.estimated_age}}</li>
        {% else %}
        <li>Birthdate : {{cat.birthdate}}</li>
        <li>Age : {{cat.count_age}}</li>
        {% endif %}
        <li>Gender : {{cat.gender}}</li>
        <li>City : {{cat.city}}</li>
        <li> Neutered : {% if cat.is_neutered == True %} Yes {% else %} No {% endif %}
        <li> Appearance : {{cat.appearance}}
    </ul>
</div>

<div>
    <h3>Characteristic</h3>
    <ul>
        <li>skittishness : {{cat.skittishness}}</li>
        <li>outgoingness : {{cat.outgoingness}}</li>
        <li>dominance : {{cat.dominance}}</li>
        <li>spontaneity : {{cat.spontaneity}}</li>
        <li>friendliness : {{cat.friendliness}}</li>
    </ul>
</div>

<div>
    <h3>Family Info</h3>
    <h4>Parents </h4>
    <ul>
        {%if cat.mom_cat != None%}
        <a href="{% url "cats:detail" cat.mom_cat.pk %}">
        <li>{{cat.name}}'s mom is {{cat.mom_cat}}</li></a>
        {%else%} 
        <li>{{cat.name}}'s mom will be somewhere else...</li>
        {% endif %}
        {%if cat.dad_cat != None%}
        <a href="{% url "cats:detail" cat.dad_cat.pk %}">
        <li>{{cat.name}}'s dad is {{cat.dad_cat}}</li></a>
        {%else%} 
        <li>{{cat.name}}'s dad will be somewhere else...</li>
        {% endif %}
    </ul>
    <h4>Brother & Sister</h4>
    <ul>
    {%if cat.bor_sis != None%}
        {% for bs in cat.bro_sis.all %}
            <li>{{bs}}</li>
        {% endfor %}
    {%else%}
        <li>{{cat.name}}'s brothers or sisters will be somewhere else...</li>
    {% endif %}
    </ul>
</div>

<div>
    <h3>Health Condition</h3>
    <ul>
        {% for hc in cat.health_condition.all %}
            <li>{{hc}}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <h3>Veterinary Clinic Visit Records</h3>
    <ul>
        {% for v in cat.vets.all %}
            <li>{{v}}</li>
        {% endfor %}
    </ul>
</div>

<div>
    <h3>Rescue Story</h3>
    <span>{{cat.rescue_story}}</span>
</div>

<div>
<h4>Care-taker : <a href="{{cat.care_taker.get_absolute_url}}">{{cat.care_taker}}</a>
</div>
{% endblock %}