{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
      {% block page_name %} {% endblock page_name %} | CATWORK
    </title>
  </head>
  <body class="text-gray-800 mt-24 font-light">
    {% include "partials/messages.html" %}
    <header class="container max-w-full inset-0 flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-gray-100">
    <div class="flex items-center w-2/3">
      <a href ="{% url "core:home" %}" class="mr-6 flex justify-between items-center">
      <img class="w-12" src="{% static 'img/cat.png' %}" />
      <span class="text-sm font-semibold text-red-500 pl-2">CATWORK</span>
      </a>
        {% block search-bar %}
          <form method="get" action="{% url "cats:search" %}" class="w-9/12">
              <input class="search-box px-5 py-2 w-56 font-medium text-gray-900 text-sm bg-gray-300 placeholder-gray-500 rounded-full hover:shadow-lg focus:shadow-lg outline-none" name="city" placeholder="Search By City" />
              <button><i class="fas fa-search -ml-12"></i></button>
          </form>
        {% endblock search-bar %}
      </div>
      {% include "partials/nav.html" %}
    </header>

  {% block content %}{% endblock %}
  {% include "partials/footer.html" %}
  </body>
</html>
